* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

body {
  overflow-x: hidden;
}
span {
  display: block;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 1200px;
  height: 100px;
  outline: 1px solid black;
  display: flex;
}

#logo {
  width: 200px;
  height: 100px;
  outline: 1px solid black;
}
#nav {
  width: 1000px;
  height: 100px;
  position: relative;
}
#mainNav {
  display: flex;
  position: absolute;
  right: 10px;
  bottom:0;
}
#nav > ul > li {
  position: relative;
}

#nav >ul> li span {
  width: 100px;
  height: 40px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  outline: 1px solid black;
  position: relative;
  text-align: center;
  line-height: 40px;
  
}

#nav > ul>li>ul {
  margin-top :40px;
  position: absolute;
  top:0;
  left:0;
}
  #nav > ul > li > ul >li {
    width: 100px;
    height: 40px;
    outline: 1px solid  black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.submenuUl {
  width: 100px;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  z-index: 10;
}

#content {
  width: 1200px;
  height: 500px;
}


#slideBox {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  
}
#slideOut {
  width: 3600px;
  height: 300px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
#slideOut li {
  width: 1200px;
  height: 300px;
}

/* slide */
#slide1 {
  background-color: aqua;
}
#slide2 {
  background-color: blue;
}
#slide3{
  background-color: blueviolet;
}

/*  --------------- */
#alertCont {
  width: 100%;
  height: 200px;
  display: flex;
}
#alertCont > div {
  flex: 1;
  outline: 1px solid black;
  position: relative;
}

.contHead {
  height: 40px;
  line-height: 40px;
  width: 100px;
  outline: 1px solid black;
}
.contBody {
  height: calc(200px - 40px);
  width: 100%;
  outline: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contBody ul {
  width: 90%;
  height: 90%;
  outline: 1px solid black;
  display: flex;
  gap: 1vw;
}
.contBody ul li {
  flex :1;
  
  outline: 1px solid black  ;
} 

.on {
  background-color: #111;
  font-weight: 700;
  color: #fff;
}

#banner div {
  width: 100px;
  height: 40px;
  background-color: #777;
}


/* footer ------------------ */
footer {
  width: 1200px;
  height : 100px;
  background-color: #888;
}

/* 모달창 */
#modal {
  width: 100vw;
  height :100vh;
  background-color: rgba(33, 30, 30, 0.9);
  position : absolute;
  top:0;
  left:0;
  z-index: 10;
}
#modalCont {
  width: 50vw;
  height: 70vh;
  flex-direction: column;
}